@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Roboto, sans-serif;
  background-color: #181825;
  color: #cdd6f4;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1e2e;
}

::-webkit-scrollbar-thumb {
  background: #45475a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #585b70;
}
